body {
    margin: 0;
}
#nav-main {
    display: flex;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 20px 50px;
    height: 130px;
    justify-content: space-between;
    @media screen and (max-width: 1000px){
        padding: 20px;
    }
    #mobi-hamburger-open {
        display: none;
        @media screen and (max-width: 1000px){
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='4' fill='black'/%3E%3Crect y='12' width='30' height='4' fill='black'/%3E%3Crect y='24' width='30' height='4' fill='black'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            z-index: 2;
            top: 30px;
            left: calc(100vw - 60px);
        }
    }
    #menu-main-menu {
        display: flex;
        padding: 0;
        z-index: 2;
        height: auto;
        margin: auto 0;
        li {
            padding: 0 10px;
            list-style: none;
            position: relative;
            a {
                text-decoration: none;
                span {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    line-height: normal;
                    text-transform: uppercase;
                    color: #333333;
                    transition: all 0.3s ease-in-out;
                }
            }
            >ul {
                margin-top: 10px;
                position: absolute;
                padding: 0;
                max-height: 0px;
                transition: all 0.3s ease-in-out;
                overflow: hidden;
                li {
                    width: 100%;
                    padding: 0;
                }
                a {
                    width: 100%;
                    display: block;
                    padding: 8px 20px;
                    background-color: #c3c3c3;
                    transition: all 0.3s ease-in-out;
                    max-width: 100%;
                    box-sizing: border-box;
                    &:hover {
                        color: #fff;
                        background-color: #3d3d3d;
                        span {
                            color: #fff;
                        }
                    }
                }
            }
            &:hover {
                span {
                    color: #000;
                }
                ul {
                    max-height: 300px;
                }
            }
        }
        @media screen and (max-width: 1000px){
            position: fixed;
            z-index: 3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            transform: translateX(100%);
            transition: all 0.3s ease-in-out;
            flex-direction: column;
            background-color: rgb(255 255 255);
            padding: 60px 30px 30px;
            &.active {
                transform: translateX(0);
            }
            #mobi-hamburger-close {
                display: block;
                width: 30px;
                height: 30px;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='4' y1='4' x2='26' y2='26' stroke='black' stroke-width='4'/%3E%3Cline x1='4' y1='26' x2='26' y2='4' stroke='black' stroke-width='4'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: 30px;
                left: calc(100vw - 60px);
                z-index: 4;
            }
            >li {
                width: calc(100% - 120px);
                min-height: 20px;
                border-bottom: 1px solid #333333;
                >a {
                    display: block;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    span {
                        color: #333333;
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif
                    }
                }
                ul {
                    position: relative;
                    padding: 0 20px;
                    max-height: 100vh;
                    margin-top: 0;
                    li {
                        width: calc(100% + 30px);
                        min-height: 20px;
                        border-bottom: 1px solid #333333;
                        &:last-of-type {
                            border-bottom: 0;
                            padding-bottom: 0;
                        }
                        a {
                            background-color: transparent;
                            span {
                                font-size: 14px;
                                font-family: Arial, Helvetica, sans-serif
                            }
                        }
                    }
                }
            }
        }
    }
}
.header {
    position: relative;
    height: calc(100vh - 130px);
    .slider-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .header-slider {
            width: 100%;
            height: 100%;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                    .slick-slide {
                        >div {
                            height: 100%;
                            >div {
                                height: 100%;
                            }
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            
        }
    }
    .social-links {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        ul {
            padding: 0;
            margin:0;
            li {
                list-style: none;
                a {
                    height: 45px;
                    width: 40px;
                    display: block;
                    background-color: #ffffff;
                    align-content: center;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    padding-top: 5px;
                    svg {
                        fill: #333333;
                        path{
                            fill: #333333;
                        }
                    }
                    &:hover {
                        background-color: #333333;
                        svg {
                            fill: #ffffff;
                            path{
                                fill: #ffffff;
                            }
                        }
                    }
                   
                }
                &:first-of-type {
                    a {
                        border-top-left-radius: 4px;
                    }
                }
                &:last-of-type {
                    a {
                        border-bottom-left-radius: 4px;
                    }
                }
            }
        }   
    }
}

#welcome-section {
    padding: 80px 0 50px;
    max-width: 700px;
    margin: 0 auto;
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        text-align: center;
        color: #333333;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #333333;
    }
    .btn-container {
        text-align: center;
        margin-top: 30px;
        a {
            background-color: #333333;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.3s ease-in-out;
            padding: 8px 12px;
            border: solid 1px #333333;
            text-decoration: none;
            &:hover {
                background-color: #fff;
                color: #333333;
                cursor: pointer;
            }
        }
    }
}
.featured-projects {
    max-width: 940px;
    margin: 0 auto;
    padding: 40px 0;
    > h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        text-align: center;
        color: #333333;
        margin-top: 0;
    }
    .featured-projects-slider {
        overflow: hidden;
        .project {
            display: flex;
            .image-container {
                position: relative;
                width: 640px;
                min-width: 640px;
                display: flex;
                flex-wrap: wrap;
                img {
                    &:nth-child(1) {
                        position: relative;
                        height: 300px;
                        width: 100%;
                        object-fit: cover;
                        margin-bottom: 20px;
                    }
                    &:nth-child(2) {
                        height: 180px;
                        width: calc(50% - 10px);
                        object-fit: cover;
                        margin-right: 20px;
                    }
                    &:nth-child(3) {
                        height: 180px;
                        width: calc(50% - 10px);
                        object-fit: cover;
                    }
                }
            }
            .information {
                flex: 1;
                padding-left: 20px;
                .navigation {
                    position: absolute;
                    display: flex;
                    gap: 5px;
                    bottom: 0;
                    right: 0;
                    .next-arrow,
                    .prev-arrow  {
                        display: block;
                        border: 1px solid #333333;
                        height: 40px;
                        width: 40px;
                        text-align: center;
                        align-content: center;
                        transition: all 0.3s ease-in-out;
                        svg {
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover {
                            background-color: #333333;
                            cursor: pointer;
                            svg {
                                path {
                                    stroke: #fff;
                                }
                            }
                        }
                    }                 
                }
            }
        }
    }
}
.featured-container {
    max-width: 970px;
    margin: 0 auto;
    padding: 40px 0;
    h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        text-align: center;
        color: #333333;
        margin-top: 0;
    }
    .featured-slider {
        overflow: hidden;
        .listing-slide {
            height: 300px;
            margin: 0 15px;
            position: relative;
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .text {
                display: block;
                position: absolute;
                background-color: #ffffff89;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.5s ease-in-out;
                p {
                    margin-top: 150px;
                    transform: translateY(-50%);
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #333333;
                    font-weight: 600;
                    transition: all 0.5s ease-in-out;
                }
            }
            &:hover {
                .text {
                    height: 40px;
                    left: 0;
                    background-color: #ffffffda;
                }
                p {
                    margin-top: 10px; 
                    transform: translateY(0);
                }
            }
        }
    }
}
.call-to-action {
    max-width: 940px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    a {
        width: calc(100% / 3 - 20px);
        text-align: center;
        text-decoration: none;
    }
    .cta {
        display: block;
        border: 1px solid #333333;
        p {
            padding: 20px 50px;
            background-color: #333333;
            color: #fff;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
        }
        svg {
            padding: 20px 30px;
            width: 80px;
            height: 95px;
            transition: all 0.3s ease-in-out;
        }
        &.faq {
            svg {
                width: 110px;
            }
        }
        &.contact {
            svg {
                width: 95px;
            }
        }
    }
    a:hover {
        .cta {
            svg {
                scale:1.2;
            }
        }
    }
}

.get-in-touch {
    max-width: 940px;
    margin: 0 auto;
    padding: 40px 0 80px;
    h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        text-align: center;
        color: #333333;
    }
    form {
        label {
            display: none;
        }
        input:focus,
        textarea:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #333333;
        }
        input {
            width: calc(50% - 15px);
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            border-bottom: 1px solid #333333;
            font-size: 14px;
            line-height: 20px;
            &:first-of-type {
                margin-right: 18px;
            }
        }
        textarea {
            width: calc(100% - 95px);
            margin-top: 30px;
            border: none;
            height: 20px;
            font-family: Arial, Helvetica, sans-serif;
            border-bottom: 1px solid #333333;
            font-size: 14px;
            line-height: 20px;
            &:placeholder {
                font-family: Arial, Helvetica, sans-serif;
            }
            &:first-of-type {
                margin-right: 18px;
            }
        }
        button {
            border: 1px solid #333333;
            background-color: #333333;
            font-family: Arial, Helvetica, sans-serif;
            color: #ffffff;
            border-radius: 0;
            padding: 8px 15px;
            transition: all 0.3s ease-in-out;
            transform: translateY(-13px);
            text-transform: uppercase;
            &:hover {
                color: #333333;
                background-color: #ffffff;
                cursor: pointer;
            }
        }
    }
}
footer {
    background-color: #cfcfcf;
    padding: 80px 0;
    .footer-container {
        color: #333333;
        max-width: 940px;
        margin: 0 auto;
        p {
            font-family: Arial, Helvetica, sans-serif;
            color: #333333;
            margin: 0;
        }
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 0;
            margin: 0;
            &:first-of-type {
              padding-top: 40px;
            }
            &:last-of-type {
              padding-bottom: 40px;  
            }
            li {
                border-left: 1px solid #333333;
                padding-left: 10px;
                &:first-of-type {
                    border: none;
                    padding-left: 0;
                    
                }
                a {
                    color: #333333;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    &:hover {
                        color: #000000;
                    }
                }
            }
        }
    }
}

.construction-beams-section {
    .construction-updates-row--three {
        margin-top: 18px;
    }
}
